body{
	font-size: 0.9rem;
}
header .grid{
	margin: 0!important;
}
header .menu{
	margin: 0!important;
	border-radius: 0!important;
}

footer{
	height: 100px;
}

#preloader{
	background-color: white;
	position: absolute;
	height: 100%!important;
	width: 100%!important;
	z-index: 9999;
	margin: 0!important;
	padding: 150px 0 0 0;
}

main{
	padding: 20px 0 0 0;
}

table{
	width: 100%!important;
}

td{
	padding: 3px!important;
}

.dashboard{
	margin-top: 10px!important;
}

.dashboard .segment{
	transition: transform 0.2s, box-shadow 0.2s;
}
.dashboard .segment:hover{
	transform: scale(1.1,1.1);
	box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.3);
}

.bloco{
	min-height: 100px;
}

.item_transp{
	display: block;
	height: 100%!important;
}

.bloco-iframe{
	width: 100%;
	height: 600px;
}

.voltar{
	text-align: center;
}

.voltar a{
	margin: auto;
}

#mostrar{
	align-items: center;
}

.rotate {
    transform: rotateZ(-180deg);
    transition: all .5s!important;
}
.rotate-reset {
    transform: rotateZ(0deg);
    transition: all .5s!important;
}

.accordion .title{
	font-size: 1.5rem!important;
}

.accordion > .content{
	margin: 5px 0 5px 40px;
}

.accordion > .content .item{
	margin-bottom: 5px;
}

.accordion > .content a{
	font-size: 1.1rem!important;
}

.accordion.lista-despesas .content{
	padding: 0!important;
	margin-top: 0;
	margin-bottom: 10px;
}

.foto-responsavel img{
	max-height: 250px;
}